@{
    ViewBag.Title = "ShowMaQR";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using CNTT129.Models;
@using CNTT129_NetCore.Extensions;
@{
    string link_qr = HttpContextAccessor.HttpContext.Session.Get<string>("link_qr");
    string ma_qr = HttpContextAccessor.HttpContext.Session.Get<string>("ma_qr");
}
<p>@link_qr</p>
<img src="@ma_qr" />
